<ion-header>
  <ion-navbar>
    <ion-title>
      Historique de la carte
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
 
  <ion-list>
    <ion-list-header>
   <button ion-button color="secondary" full>
      <ion-icon name="ios-pulse-outline" item-left></ion-icon>
      Historique  
    </button>
  </ion-list-header>
  	 <ion-item>
      <b>CICO </b> <br> {{id_carte}}
     </ion-item>

     <ion-item>
      <b>Proprietaire final </b> <br> {{proprietaire_final}}
     </ion-item>

     <ion-item>
      <b>Prorietaire actuel  </b> <br> {{proprietaire_actu}}
     </ion-item>

     <ion-item>
      <b>État actuel de la carte </b> <br> {{etat_carte}}
     </ion-item>

     <ion-item>
      <button ion-button color="secondary" (click)="infoCertification()">
        <ion-icon name="ios-information-circle-outline" item-left></ion-icon>
        <b> Certification  </b>
      </button> <br> {{certification}}
     </ion-item>

     <ion-item>
      <b>Date de création de la carte </b> <br> {{date_creation}}
     </ion-item>

     <ion-list-header>
   <button ion-button color="secondary" full>
      <ion-icon name="ios-swap-outline" item-left></ion-icon>
      Itinérance de la carte 
    </button>
  </ion-list-header>
     <ion-item>
      	<li ion-item *ngFor="let item of historique">
          <ion-icon name="bonhome" item-left></ion-icon>
          <b>{{item.prop_actu}}</b><br>
          <b>Du</b> {{item.date_recu}} <b> <br>
          Au </b> {{item.date_emis}} <br> 
        </li>
     </ion-item>

  </ion-list>

  </h3>
</ion-content>