page-tabs {
	.ion-ios-accueil,
	.ion-md-accueil, 
	.ion-ios-livia,
	.ion-md-livia,
	.ion-ios-carte,
	.ion-md-carte,
	.ion-ios-profil,
	.ion-md-profil, {
  	width: 52px;
  	height: 42px;
  	padding: 6px 4px 2px;
 	opacity: 0.9;
	}

	.ion-ios-livia,
	.ion-md-livia {
  	content: url(/img/livia.png);
  }
  .ion-ios-carte,
	.ion-md-carte {
  	content: url(/img/logo.png);
  }

  .ion-ios-profil,
	.ion-md-profil {
  	content: url(/img/bonhome.png);
  }

  .ion-ios-accueil,
	.ion-md-accueil {
  	content: url(/img/qrcode.png);
  }

}
